:root {
    --test-name: red;
}

/* GENERAL */
body {
    font-family: Inter;
    font-weight: 400;
}

.main-container {
    position: relative;
    width: 1440px;
    margin: 0 auto;
    outline: 1px dashed rgb(12, 235, 23);
}

.container {
    width: 1033px;
    margin: 0 auto;
    outline: 1px dashed tomato;
}

/* .flex {
    display: flex;
    align-items: center;
} */

section .flex {
    flex-direction: row;
}



.link-ua {
    border-radius: 45px 0px 45px 0px;
    color: rgba(38, 198, 234, 1);
    /* --button-color */
    text-align: center;
    border: 2px solid rgba(38, 199, 234, 1);
    background-color: rgba(11, 14, 102, 1);
    font-weight: 400;
    /* font-family:HeadlandOne; НЕ ПРАЦЮЄ В ФІГМІ І ВСЮДИ */
    font-family: Inter;
}

.link-eng {
    border-radius: 45px 0px 45px 0px;
    color: rgba(38, 198, 234, 1);
    /* --button-color */
    border: 2px solid rgba(38, 199, 234, 1);
    background-color: rgba(11, 14, 102, 1);
    font-weight: 400;
    /* font-family:HeadlandOne; НЕ ПРАЦЮЄ В ФІГМІ І ВСЮДИ */
    font-family: HeadlandOne;
}


/* HEADER */
.header {
    border-bottom: 3px solid rgb(255, 255, 255, 1);
    background-image: linear-gradient(rgba(43, 74, 97, 0.87), rgba(43, 74, 97, 0.87)), url(../images/header-footer-back.png);
    background-repeat: no-repeat;
    background-size: cover;

}

.header .container {
    padding: 39px 0px;
}


.header-logo {
    width: 186px;
    height: 72px;
    margin-right: 168px;
}

.flex,
.navigation,
.nav-list,
.contacts-list {
    display: flex;
    align-items: center;
}

.nav-list {
    margin-right: 212px;
}


.nav-item:not(:last-child) {
    margin-right: 38px;
}

.nav-link {
    color: rgba(255, 255, 255, 1);
    /*var(--nav-link); */
    font-style: normal;
    line-height: 0.93;
    font-size: 20px;
    font-weight: 300;

}

.nav-link:active {
    color: rgba(148, 207, 255, 1);
    font-weight: 600;
    /*var(--nav-link-actvive); */
}

.navigation+.link-ua {
    padding: 9px 38px 7.69px;

    display: flex;
    justify-content: space-between;
    width: 141px;
    font-size: 24px;
    line-height: 1.15;
}

.navigation+.link-eng {
    font-size: 24px;
    line-height: 1.15;
    padding: 9px 38px 7.69px;
}




.lang-list {
    position: absolute;
    top: 65px;
    right: 48px;
    display: flex;
}

.lang-item {
    color: rgba(255, 255, 255, 1);
}
.lang-item:first-child{
    padding-right: 12px;
}
.lang-item:first-child::after {
    content: "";
    width: 36px;
    height: 20px;
    background-repeat: no-repeat;
    text-align: center;
    padding-right: 46px;
    background-image: url(../images/switcher.png);
    background-position: 10px;
}

.lang-link {
    font-family: Hammersmith One;
    color: rgba(255, 255, 255, 1);
    background-color: transparent;
    border: none;
}

/* HERO */
.hero {
    background-image: url(../images/hero-background.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-item:nth-child(2)::before {
    margin-left: 31px;
    content: "";
    display: flex;
    height: 40px;
    width: 152px;
    background-position: center;
    background-image: url(../images/arrow-white.png);
    background-repeat: no-repeat;
    padding: 4px 0px 0px 57px;
    text-align: center;

}

.hero .container {
    padding: 180px 0px 179px 0px;
}



.hero-item {
    font-size: 20px;
    line-height: 24.2px;

    color: rgba(255, 255, 255, 1);
    width: 298px;
    height: 96px;
}

.social-list {
    padding: 16px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}
.hero-div-column {
    flex-direction: column;
    margin: 0px 606px 0px 0px;
}

.social-item:not(:first-of-type) {
    padding: 24px 0px 0px 0px;
}

.hero-item:last-child {
    width: 376px;
    height: 123px;
    margin-bottom: 42px;
}

.hero-list-ua,
.hero-list-eng {
    padding: 0px 0px 42px 0px;
}

.hero-list-ua+button,
.hero-list-eng+button {
    border: 3px solid rgba(38, 199, 234, 1);
}

.hero-list-ua+.link-ua {
    display: inline-block;
}

.hero-list-ua+.link-ua,
.hero-list-eng+.link-eng {
    font-size: 24px;
    line-height: 1.15;
    width: 260px;
}

.hero-list-ua+.link-ua {
    padding: 10px 30px 10px 31px;
}

.hero-list-eng+.link-eng {
    padding: 25px 75px;
    font-family: HeadlandOne;
}

/* TRAILER */

.trailer {
    background-image: url(../images/navi.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.trailer .container {
    display: flex;
    justify-content: center;
    padding: 330px 0px 330px;


}

.trailer .container .link-ua,
.trailer .container .link-eng {
    font-size: 24px;
    line-height: 1.15;
    padding: 25px 20px 25px 19px;
}


/* QUOTE SECTION */
.quote-section {
    padding-top: 75px;
    display: flex;
    color: rgba(20, 20, 20, 1);
    justify-items: center;
    text-align: center;
    padding-bottom: 10px;
}

.quote-section:nth-child(2) {
    color: rgba(10, 56, 83, 1);
}

.quote-text {
    font-weight: 400;
    font-size: 36px;
    line-height: 1.3;
    height: 92px;
}

/* .quote-text:not(:first-child){
    padding-top: 4px;
} */
.quote-author {
    padding: 16px 0px 8px 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 24px;
    line-height: 0.92;
    color: rgb(0, 0, 0, 1)
}

.quote-author::after {
    content: "";
    align-self: center;
    display: block;
    width: 400px;
    height: 120px;
    background-position: center;
    background-repeat: no-repeat;
}

.quote-author:nth-child(1)::after {
    background-image: url(../images/bird.png);
    size: 400px 120px;
    margin-top: 8px;
}

.quote-author:nth-child(2)::after {
    background-image: url(../images/bird.png);
    margin-top: 8px;
}

.quote-author:nth-child(13)::after {
    background-image: url(../images/bird.png);
    margin-top: 8px;
}


/* DICTIONARY */
.section-dictionary .container {
    padding: 58px 0px 57px 0px;
}

.section-dictionary {
    background-image: url(../images/islands.png);
    background-repeat: no-repeat;
    background-size: cover;
}


.dictionary-title {
    height: 40px;
    margin-bottom: 45px;
    font-family: HeadlandOne;
    /* font-weight: 400; */
    font-size: 32px;
    text-align: center;
    /* color: var(--color-font-main); */
}

.dictionary-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 37px;
    row-gap: 24px;
}

.dictionary-item {
    flex-basis: calc((100% - 74px) / 3);
    padding-top: 36px;
    padding-bottom: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background:rgba(255, 255, 255, 0.7);
}


.dictionary-text-ua {
    font-size: 24px;
    font-weight: 400;
    line-height: 100%;
    text-align: center;
    color: #141414
}

.dictionary-text-eng {
    font-size: 24px;
    font-weight: 400;
    line-height: 0.92;
    text-align: center;
    color: #141414;
    font-family: HeadlandOne;
}

.dictionary-text-ua:first-child {
    text-align: center;

    /*todo var. 2 */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dictionary-text-ua:last-child {
    line-height: 24px;
    margin-top: 40px;
}

/*! IMAGES DICTIONARY */
.dictionary-text-ua:first-child::after {
    content: "";
    width: 152px;
    height: 40px;
    text-align: center;
    margin-top: 40px;
    background-repeat: no-repeat;
    background-position: center;
}

.dictionary-item:nth-child(3n + 1) .dictionary-text-ua:first-child::after {
    background-image: url(../images/arrow-dictionary.png);
    transform: rotate(-180deg);
}

.dictionary-item:nth-child(3n + 2) .dictionary-text-ua:first-child::after {
    background-image: url(../images/bird-dictionary.png);

}

.dictionary-item:nth-child(3n + 3) .dictionary-text-ua:first-child::after {
    background-image: url(../images/arrow-dictionary.png);

}

.dictionary-text-ua {
    font-family: HeadlandOne;
    font-size: 24px;
    line-height: 100%;
}


.dictionary-item .dictionary-text-eng:first-child::after {
    padding-top: 31px;
    margin-left: 85px;
    margin-right: 83px;
    content: "";
    display: flex;
    align-self: center;
    background-position: center;
    background-image: url(../images/arrow-left.png);
    background-repeat: no-repeat;
    text-align: center;
}

.dictionary-item:nth-child(2) .dictionary-text-eng:first-child::after {
    background-image: url(../images/bird.png);
    background-size: 150px 40px;

}

.dictionary-item:nth-child(5) .dictionary-text-eng:first-child::after {
    background-image: url(../images/bird.png);
    width: 152px;
    height: 40px;
}

/*! FOOTER */

.footer {
    padding-top: 35px;
    padding-bottom: 31px;
    background-color: gray;
    background-image:
        linear-gradient(
            rgba(43, 74, 97, 0.87),
            rgba(43, 74, 97, 0.87)
        ),
        url(../images/header-footer-back.png);
    background-repeat: no-repeat;
        background-size: cover;
}

.box-logo-address {
    height: 153px;
    display: flex;
    align-items: center;
    /* outline: 1px solid green; */
}

.footer-logo {
    width: 183px;
    height: 70px;
    margin-right: 80px;
    /* outline: 2px dotted violet; */
}

.address {
    height: 100%;
    display: flex;
    align-items: center;
    font-style: normal;
}

.address::before {
    content: "";
    width: 2px;
    height: 100%;
    margin-right: 80px;
    background-color: #FFFFFF;
}

.mails-item {
    display: flex;
    align-items: center;
    font-size: 20px;
    line-height: 0.93;
}

.mails-text,
.mails-svg {
    margin-right:19px;
    color: #FFFFFF;
}

.mails-link {
    color: #FFFFFF;
}

.copywrite {
    margin-top: -5px;
    margin-left: 474px;
    font-size: 14px;
    line-height: 0.65;
    color: #FFFFFF;
}

